
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #4f46e5;
  color: white;
  flex-direction: row;
}

.logo {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}


.products-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}


.product-card {
  width: 240px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.product-card h3 {
  margin-bottom: 10px;
  color: #1f2937;
}

.product-card p {
  font-weight: 600;
  color: #4f46e5;
}
.button:hover{
background-color: aqua;
}
