.container {
  width: 300px;
  margin: 40px auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

button {
  padding: 6px 12px;
  margin-bottom: 10px;
}

li {
  list-style: none;
  padding: 5px;
}
