
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #150f27, #202e43, #342c64);
  color: #eaeaea;
  line-height: 1.6;
}
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #64ffda;
}

.header nav a {
  color: #eaeaea;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.header nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #64ffda;
  transition: 0.3s;
}

.header nav a:hover::after {
  width: 100%;
}
.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.3rem;
  margin-top: 15px;
  color: #64ffda;
}

section {
  padding: 80px 60px;
}

section h2 {
  font-size: 2.3rem;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

section h2::after {
  content: "";
  width: 70px;
  height: 3px;
  background: #64ffda;
  display: block;
  margin: 12px auto 0;
}

.about p {
  max-width: 800px;
  margin: auto;
  font-size: 1.1rem;
  text-align: center;
  color: #d1d1d1;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 25px;
}

.skill-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  font-size: 1.1rem;
  backdrop-filter: blur(8px);
  transition: transform 0.3s, box-shadow 0.3s;
}
.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(100, 103, 255, 0.322);
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
.project-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
  border-radius: 18px;
  backdrop-filter: blur(8px);
  transition: transform 0.3s, box-shadow 0.3s;
}
.project-card h3 {
  margin-bottom: 15px;
  color: #64ceff;
}
.project-card p {
  color: #dcdcdc;
}
.project-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}
.footer {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 40px 20px;
}
.footer a {
  margin: 0 15px;
  color: #64ffda;
  text-decoration: none;
  font-weight: 500;
}

.footer p {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #bcbcbc;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }
section {
    padding: 60px 20px;
  }
.hero h1 {
    font-size: 2.6rem;
  }
}