/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container{
  min-height: 100vh;
  width:200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.card {
  background-color: #ffffff;
  width: 360px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

h2 {
  margin-bottom: 20px;
  color: #555;
}

button {
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
